## Velocity template for text output

Generated: $date.get('yyyy-M-d H:m:s')
Group: $group_name
Service: $service_address

MAPS
====

#foreach ($entry in $maps)
* $entry.getId()
  name: $entry.getName()
  size: $entry.getSize()
#end

MULTIMAPS
=========

#foreach ($entry in $multimaps)
* ID:   $entry.getId()
  name: $entry.getName()
  size: $entry.getSize()
#end

SETS
====

#foreach ($entry in $sets)
* ID:   $entry.getId()
  name: $entry.getName()
  size: $entry.getSize()
#end

LISTS
=====

#foreach ($entry in $lists)
* ID:   $entry.getId()
  name: $entry.getName()
  size: $entry.getSize()
#end

QUEUES
======

#foreach ($entry in $queues)
* ID:   $entry.getId()
  name: $entry.getName()
  size: $entry.getSize()
#end

#if ($include_locks)
LOCKS
=====

#foreach ($entry in $locks)
* ID:   $entry.getId()
  name: $entry.getName()
#end
#end

